
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');



/* RESETS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e8e4d6;
    color: white;
}

.container{
    width: 1400px;
    height: 800px;
    display: flex;
    border-radius: 5px;
    background: #23252A;
}

.menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu__lista{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.menu-lista-item__box{
    background: url(../IMAGENS/overwatch-bg.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    position: relative;
}



/* FIREFOX DOES NOT SUPPORT :has AT MOMENTO */
.menu-lista-item__box:has(.genshin){
    background: url(../IMAGENS/genshin-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}



.menu-lista-item__box:has(.diablo){
    background: url(../IMAGENS/diablo-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.menu-lista-item__box:has(.wow){
    background: url(../IMAGENS/wow-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.menu-lista-item__box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-lista-item__box a{
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.menu-lista-item__box a:hover{
    color: red;
    transition: ease-in 0.3s;
}

.menu__title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252A;
    color: white;
    
}

.menu__item{
    flex: 4;
}

.menu__infos{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.jogo__title{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    justify-content: center;
}

.jogo__descricao {
    flex: 4;
    display: flex;
    padding: 10px;
}

.jogo-descricao__imagem{
    display: grid;
    grid-template-columns: 1fr;
}

.img-box{
    width:200px;
    height: 100%
}

.img-box img{
    width: 100%;
    height: 100%;
    background: url(../IMAGENS/genshin-bg.jpeg);
}