
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');



/* RESETS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e8e4d6;
}

.container{
    width: 1400px;
    height: 800px;
    display: flex;
    border-radius: 5px;
    background: #23252A;
}

.menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu__lista{
    list-style: none;
    width: 100%;
    border: 1px solid green;
    height: 100%;
}

.menu__title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252A;
    color: white;
    
}

.menu__item{
    flex: 4;
    border: 1px solide green;
}

.menu__infos{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.jogo__title{
    flex: 1;
}

.jogo__descricao {
    flex: 4;
    display: flex;
    border: solid 1px red;
}

.jogo-descricao__imagem{
    border: solid   1px blue;
}

.img-box{
    width:200px;
    height: 150px;
}

.img-box img{
    width: 100%;
    height: 100%;
}